OrionVersionTest/Service References/ServiceReference1/Inventory3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.turner.com/ea/Orion/Longform/contract/5/0" elementFormDefault="qualified" targetNamespace="http://schemas.turner.com/ea/Orion/Longform/contract/5/0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://orion/Webservice/Longform/Inventory.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://orion/Webservice/Longform/Inventory.svc?xsd=xsd1" namespace="http://schemas.turner.com/ea/Orion/Longform/schema/5/0" />
  <xs:import schemaLocation="http://orion/Webservice/Longform/Inventory.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="LongformOrionOrderItemStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Initiated" />
      <xs:enumeration value="Ordered" />
      <xs:enumeration value="PendingQC" />
      <xs:enumeration value="Completed" />
      <xs:enumeration value="Cancelled" />
      <xs:enumeration value="Rejected" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LongformOrionOrderItemStatus" nillable="true" type="tns:LongformOrionOrderItemStatus" />
  <xs:simpleType name="LongformVersionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Air" />
      <xs:enumeration value="Barter" />
      <xs:enumeration value="Distribution" />
      <xs:enumeration value="InHouse" />
      <xs:enumeration value="Viewing" />
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Ordered" />
      <xs:enumeration value="Credits" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LongformVersionType" nillable="true" type="tns:LongformVersionType" />
  <xs:complexType name="BIMComparisonByMaterialIdRequest">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MaterialIds" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BIMComparisonByMaterialIdRequest" nillable="true" type="tns:BIMComparisonByMaterialIdRequest" />
  <xs:complexType name="VersionTitleRequest">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CIDs" nillable="true" type="q2:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VersionTitleRequest" nillable="true" type="tns:VersionTitleRequest" />
  <xs:complexType name="VersionTitleResponse">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.turner.com/ea/Orion/Longform/schema/5/0" name="VersionsTitles" nillable="true" type="q3:ArrayOfVersionTitleInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VersionTitleResponse" nillable="true" type="tns:VersionTitleResponse" />
  <xs:complexType name="VersionCountByTitleIdRequest">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TitleIds" nillable="true" type="q4:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VersionCountByTitleIdRequest" nillable="true" type="tns:VersionCountByTitleIdRequest" />
  <xs:complexType name="ComponentDetailRequest">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ComponentIds" nillable="true" type="q5:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComponentDetailRequest" nillable="true" type="tns:ComponentDetailRequest" />
  <xs:complexType name="ComponentDetailResponse">
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.turner.com/ea/Orion/Longform/schema/5/0" minOccurs="0" name="ComponentDetail" nillable="true" type="q6:ArrayOfDetailComponentInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComponentDetailResponse" nillable="true" type="tns:ComponentDetailResponse" />
  <xs:complexType name="FileHoldQueueItem">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.turner.com/ea/Orion/Longform/schema/5/0" base="q7:ExtensionDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateReceived" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DistributionFileId" type="xs:int" />
          <xs:element minOccurs="0" name="ItemState" type="tns:ItemState" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FileHoldQueueItem" nillable="true" type="tns:FileHoldQueueItem" />
  <xs:simpleType name="ItemState">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Unknown">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="On">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Off">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Added">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Deleted">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Error">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="ItemState" nillable="true" type="tns:ItemState" />
  <xs:complexType name="ItemStateEnumHelper">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ItemStateEnumHelper" nillable="true" type="tns:ItemStateEnumHelper" />
  <xs:complexType name="FileHoldQueueItemAddRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.turner.com/ea/Orion/Longform/schema/5/0" base="q8:ExtensionDataContract">
        <xs:sequence>
          <xs:element name="FileHoldQueueItem" nillable="true" type="tns:FileHoldQueueItem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FileHoldQueueItemAddRequest" nillable="true" type="tns:FileHoldQueueItemAddRequest" />
  <xs:complexType name="FileHoldQueueItemDeleteRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.turner.com/ea/Orion/Longform/schema/5/0" base="q9:ExtensionDataContract">
        <xs:sequence>
          <xs:element name="FileHoldQueueItem" nillable="true" type="tns:FileHoldQueueItem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FileHoldQueueItemDeleteRequest" nillable="true" type="tns:FileHoldQueueItemDeleteRequest" />
  <xs:complexType name="FileHoldQueueItemDeleteByIdRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.turner.com/ea/Orion/Longform/schema/5/0" base="q10:ExtensionDataContract">
        <xs:sequence>
          <xs:element name="DistributionFileId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FileHoldQueueItemDeleteByIdRequest" nillable="true" type="tns:FileHoldQueueItemDeleteByIdRequest" />
  <xs:complexType name="FileHoldQueueItemRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.turner.com/ea/Orion/Longform/schema/5/0" base="q11:ExtensionDataContract">
        <xs:sequence>
          <xs:element name="DistributionFileId" type="xs:int" />
          <xs:element minOccurs="0" name="ReceivedDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FileHoldQueueItemRequest" nillable="true" type="tns:FileHoldQueueItemRequest" />
  <xs:complexType name="FileHoldQueueItemRequestByDateRange">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.turner.com/ea/Orion/Longform/schema/5/0" base="q12:ExtensionDataContract">
        <xs:sequence>
          <xs:element name="EndDate" type="xs:dateTime" />
          <xs:element name="StartDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FileHoldQueueItemRequestByDateRange" nillable="true" type="tns:FileHoldQueueItemRequestByDateRange" />
  <xs:complexType name="FileHoldQueueItemResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.turner.com/ea/Orion/Longform/schema/5/0" base="q13:ExtensionDataContract">
        <xs:sequence>
          <xs:element name="FileHoldQueueItem" nillable="true" type="tns:FileHoldQueueItem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FileHoldQueueItemResponse" nillable="true" type="tns:FileHoldQueueItemResponse" />
  <xs:complexType name="FileHoldQueueItemsResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q14="http://schemas.turner.com/ea/Orion/Longform/schema/5/0" base="q14:ExtensionDataContract">
        <xs:sequence>
          <xs:element name="FileHoldQueueItems" nillable="true" type="tns:ArrayOfFileHoldQueueItem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FileHoldQueueItemsResponse" nillable="true" type="tns:FileHoldQueueItemsResponse" />
  <xs:complexType name="ArrayOfFileHoldQueueItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileHoldQueueItem" nillable="true" type="tns:FileHoldQueueItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileHoldQueueItem" nillable="true" type="tns:ArrayOfFileHoldQueueItem" />
  <xs:complexType name="QCRejectionDetailRequest">
    <xs:sequence>
      <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="QCRejectionIds" nillable="true" type="q15:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QCRejectionDetailRequest" nillable="true" type="tns:QCRejectionDetailRequest" />
  <xs:complexType name="QCRejectionDetailResponse">
    <xs:sequence>
      <xs:element xmlns:q16="http://schemas.turner.com/ea/Orion/Longform/schema/5/0" minOccurs="0" name="QCRejectionDetail" nillable="true" type="q16:ArrayOfDetailQCRejectionReportHeaderInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QCRejectionDetailResponse" nillable="true" type="tns:QCRejectionDetailResponse" />
  <xs:complexType name="VersionDetailRequest">
    <xs:sequence>
      <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CIDs" nillable="true" type="q17:ArrayOfstring" />
      <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="versionIds" nillable="true" type="q18:ArrayOfint" />
      <xs:element minOccurs="0" name="IncludeInActive" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VersionDetailRequest" nillable="true" type="tns:VersionDetailRequest" />
  <xs:complexType name="VersionDetailResponse">
    <xs:sequence>
      <xs:element xmlns:q19="http://schemas.turner.com/ea/Orion/Longform/schema/5/0" name="VersionDetails" nillable="true" type="q19:ArrayOfDetailVersionInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VersionDetailResponse" nillable="true" type="tns:VersionDetailResponse" />
  <xs:complexType name="VersionReelDetailRequest">
    <xs:sequence>
      <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="VersionReelIds" nillable="true" type="q20:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VersionReelDetailRequest" nillable="true" type="tns:VersionReelDetailRequest" />
  <xs:complexType name="VersionReelDetailResponse">
    <xs:sequence>
      <xs:element xmlns:q21="http://schemas.turner.com/ea/Orion/Longform/schema/5/0" minOccurs="0" name="VersionReelDetail" nillable="true" type="q21:ArrayOfDetailVersionReelInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VersionReelDetailResponse" nillable="true" type="tns:VersionReelDetailResponse" />
  <xs:complexType name="ProbelQueueItem">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q22="http://schemas.turner.com/ea/Orion/Longform/schema/5/0" base="q22:ExtensionDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="XMLType" type="tns:ProbelXMLTypes" />
          <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateSent" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProbelQueueId" type="xs:int" />
          <xs:element minOccurs="0" name="RetryCount" type="xs:int" />
          <xs:element minOccurs="0" name="Status" type="tns:ProbelStatusType" />
          <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VersionId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProbelQueueItem" nillable="true" type="tns:ProbelQueueItem" />
  <xs:simpleType name="ProbelXMLTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BIM" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ProbelXMLTypes" nillable="true" type="tns:ProbelXMLTypes" />
  <xs:simpleType name="ProbelStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="New" />
      <xs:enumeration value="InProcess" />
      <xs:enumeration value="Complete" />
      <xs:enumeration value="Error">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Fatal">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ProbelStatusType" nillable="true" type="tns:ProbelStatusType" />
  <xs:complexType name="ProbelQueueItemAddRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q23="http://schemas.turner.com/ea/Orion/Longform/schema/5/0" base="q23:ExtensionDataContract">
        <xs:sequence>
          <xs:element name="ProbelQueueItem" nillable="true" type="tns:ProbelQueueItem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProbelQueueItemAddRequest" nillable="true" type="tns:ProbelQueueItemAddRequest" />
  <xs:complexType name="ProbelQueueItemDeleteRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q24="http://schemas.turner.com/ea/Orion/Longform/schema/5/0" base="q24:ExtensionDataContract">
        <xs:sequence>
          <xs:element name="ProbelQueueItem" nillable="true" type="tns:ProbelQueueItem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProbelQueueItemDeleteRequest" nillable="true" type="tns:ProbelQueueItemDeleteRequest" />
  <xs:complexType name="ProbelQueueItemDeleteByIdRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q25="http://schemas.turner.com/ea/Orion/Longform/schema/5/0" base="q25:ExtensionDataContract">
        <xs:sequence>
          <xs:element name="ProbelQueueId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProbelQueueItemDeleteByIdRequest" nillable="true" type="tns:ProbelQueueItemDeleteByIdRequest" />
  <xs:complexType name="ProbelQueueItemRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q26="http://schemas.turner.com/ea/Orion/Longform/schema/5/0" base="q26:ExtensionDataContract">
        <xs:sequence>
          <xs:element name="ProbelQueueId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProbelQueueItemRequest" nillable="true" type="tns:ProbelQueueItemRequest" />
  <xs:complexType name="ProbelQueueItemRequestByVersionId">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q27="http://schemas.turner.com/ea/Orion/Longform/schema/5/0" base="q27:ExtensionDataContract">
        <xs:sequence>
          <xs:element name="VersionId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProbelQueueItemRequestByVersionId" nillable="true" type="tns:ProbelQueueItemRequestByVersionId" />
  <xs:complexType name="ProbelQueueItemUpdateRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q28="http://schemas.turner.com/ea/Orion/Longform/schema/5/0" base="q28:ExtensionDataContract">
        <xs:sequence>
          <xs:element name="ProbelQueueItem" nillable="true" type="tns:ProbelQueueItem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProbelQueueItemUpdateRequest" nillable="true" type="tns:ProbelQueueItemUpdateRequest" />
  <xs:complexType name="ShuffleRequests">
    <xs:sequence>
      <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="CIDs" nillable="true" type="q29:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShuffleRequests" nillable="true" type="tns:ShuffleRequests" />
  <xs:complexType name="ShuffleResponses">
    <xs:sequence>
      <xs:element name="ShuffleResults" nillable="true" type="tns:ArrayOfShuffleResults" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShuffleResponses" nillable="true" type="tns:ShuffleResponses" />
  <xs:complexType name="ArrayOfShuffleResults">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShuffleResults" nillable="true" type="tns:ShuffleResults" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShuffleResults" nillable="true" type="tns:ArrayOfShuffleResults" />
  <xs:complexType name="ShuffleResults">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q30="http://schemas.turner.com/ea/Orion/Longform/schema/5/0" base="q30:ExtensionDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="AudioTrackCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MatchFound" type="xs:boolean" />
          <xs:element minOccurs="0" name="ProbelShuffleId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ShuffleResults" nillable="true" type="tns:ShuffleResults" />
  <xs:complexType name="DefaultFaultDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorId" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorrelationId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DefaultFaultDetail" nillable="true" type="tns:DefaultFaultDetail" />
  <xs:complexType name="LongformFaultDetail">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DefaultFaultDetail">
        <xs:sequence>
          <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LongformFaultDetail" nillable="true" type="tns:LongformFaultDetail" />
  <xs:complexType name="OrionFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrionFault" nillable="true" type="tns:OrionFault" />
  <xs:element name="VersionPing">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VersionPingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VersionPingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>